{% extends "base_generic.html" %}

{% block content %}
    <h1>Recette : {{ recipe.title }}</h1>

    <p><strong>Auteur</strong>: <a href="">{{ recipe.created_by }}</a></p>
    <p><strong>mise &agrave; jour</strong>: {{ recipe.last_update }}</p>

    <h3>Ingrédients</h3>
    <ul>
    {% for ingredient in recipe.ingredientlist_set.all %}
        <li>
            <p>{{ ingredient.quantity }} {{ ingredient.unity }} {{ ingredient.ingredient.name }}</p>
        </li>
    {% endfor %}
    </ul>

    <h3>Description</h3>
    <p>{{ recipe.content }}</p>
{% endblock %}