{% extends "base_generic.html" %}

{% block content %}
    <h1>Recipe List</h1>
    {% if recipe_list %}
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipe_list %}
            <tr>
                <td><a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a></td>
                <td>{{ recipe.created_by }}</td>
                <td><a href="{% url 'recipe-update' recipe.id %}">edit</a></td>
                <td><a href="{% url 'recipe-delete' recipe.id %}">supprime</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul>
        {% for recipe in recipe_list %}
        <li>
            <a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a> {{ recipe.created_by }} 
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no recipes.</p>
    {% endif %}
{% endblock %}
